.App {
  text-align: center;
}
.Header {
  color:black;
  text-shadow: 0px 0px 4px #FFE81F;;
  font-family: 'Kanit', sans-serif;
  font-size: 3rem;
/* write your parent styles in here for your App.js */
}